*{
	margin: 0;
	padding: 0;
}

html{
	width:100%;
	height:100%;
}

body{
	width:100%;
	height:100%;
	font-size:62.5%;
}

#wrapper-outer{
	position: relative;
	height: 95%;
}
#wrapper-inner{
	width: 95%;
	height: 95%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: white;
	border:2px solid white;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 2px grey;
}

.jumbotron{
	margin: auto;
	margin-top: 3%;
	text-align: center;
	width: 50%;
	padding:0.4em;
	box-shadow: 2px 2px 2px 2px grey;
}

.headers{
	margin:auto;
	display: inline-block;
	text-align: center;
	font-family: 'Robot', sans-serif;
}

#pageHead{
	font-size:6em;
}

#cardForm{
	width: 40%;
	margin: auto;
	margin-top: 4.5%;
	border: 0.2em solid;
	border-radius:10px;
	box-shadow: 2px 2px 2px 2px grey;
}

.btn{
	float: right;

}

.card-text{
	font-size: 1.3em;
	float:right;
}

#errorBox{
	visibility: hidden;
	float: left;
	margin: 0;
	padding: auto;
	padding-bottom: 0;
	/*display: inline-block;*/
}

#errorMsg{
	float: left;
	padding: auto;
	font-size: 1.2em;
}

#registrationForm{
	padding: 2px;
}

.form-control:focus, .form-control:active{
	background-color:rgba(30,30,30,1);
	color:rgba(200,200,200,1);
	box-shadow: none;
	border:none;
}

.form-control:hover{
	border-color: #FFFFFF;
  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

@font-face {
    font-family: rothe;
    src: url(FONTS/gentium/ROTHE-DEMO.TTF);
}



.label{
	font-size: 1.2em;
}

.form-group{
	margin: 0; 
}

